@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f472b6; 
  --color-secondary: #d4af37;
  --color-accent: #1f1f36;

  --color-base-100: #faf7f2;
  --color-base-200: #f7c5d0;
}
/* ------------------- Google Font ----------------- */
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-Montez {
  font-family: "Montez", cursive;
}
